

<% layout('layout/biolerplate')%>

    <div class="row">
        <h1 class="text-center">Edit Employee</h1>
        <div class="col-md-6 offset-md-3">
            <form action="/employees/<%=employee._id%>?_method=PUT" method="POST">
                <div class="mb-3">
                    <label class="form-label" for="name">Employee Name</label>
                    <input class="form-control" type="text" id="name" name="employee[name]" value="<%=employee.name%>"
                        required>
                    <div class=" valid-feedback">looks good
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Employee Location</label>
                    <input class="form-control" type="text" id="location" name="employee[officeLoc]"
                        value="<%=employee.officeLoc%>" required>
                    <div class=" valid-feedback">looks good
                    </div>
                </div>
                <div class="mb-3">
                    <button class="btn btn-success">Edit Employees</button>
                </div>
            </form>
            <a href="/employees">ALL Campground</a>
        </div>
    </div>
