

<% layout('layout/biolerplate')%>

    <div class="row">
        <h1 class="text-center">NEW Employee</h1>
        <div class="col-md-6 offset-md-3">
            <form action="/employees" method="POST">
                <div class="mb-3">
                    <label class="form-label" for="name">Employee Name</label>
                    <input class="form-control" type="text" id="name" name="employee[name]" required>
                    <div class="valid-feedback">looks good</div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Employee Location</label>
                    <input class="form-control" type="text" id="location" name="employee[officeLoc]" required>
                    <div class="valid-feedback">looks good</div>
                </div>
                <div class="mb-3">
                    <button class="btn btn-success">ADD Employees</button>
                </div>
            </form>
            <a href="/employees">ALL Employees</a>
        </div>
    </div>
